@import url(config.css);


select {
    border: var(--border-radius-small-1) var(--border-style-body) var(--color-secondary-default);
    border-radius: var(--border-radius-body);
    background: var(--color-white-default);
    border-color: var(--color-danger-darken1);
    font-size: var(--font-size-small-1);
    color: var(--color-gray-darken6);
    padding: 8px 24px 8px 8px;
    appearance: none;
    background: url(https://cf.bstatic.com/static/img/cross_product_index/toggle/fb6f63d62231f9fe552d79b5448620b2e63c726e.svg) no-repeat 95% center;
}