@import url(config.css);


body{
    background-color: black;

}


.check-box-13{
    width: 13px;
    height: 13px;
    border: var(--border-width-light) var(--border-style-body) var(--color-white-darken6);
    border-radius: var(--border-radius-small-1);
}

.check-box-14{
    width: 14px;
    height: 14px;
    border: var(--border-width-light) var(--border-style-body) var(--color-white-darken6);
    border-radius: var(--border-radius-small-1);
}

.check-box-20{
    width: 20px;
    height: 20px;
    border: var(--border-width-light) var(--border-style-body) var(--color-white-darken6);
    border-radius: var(--border-radius-small-1);

}



.check-in-date{
    width: 232px;
    height: 36px;
    border: var(--border-width-light) var(--border-style-body) var(--color-white-default);
    border-radius: var(--border-radius-small-2);
    background-image: var(--calendar-small), var(--pointer-down);
    background-size: 18px, 16px;
    background-position:bottom 9px  left 10px, right 8px bottom 10px;
    padding-left: 36px;
    background-repeat: no-repeat;
}


.check-in-date::placeholder{
    font-size: var(--font-size-small-1);
    font-weight: var(--font-weight-body);
    color: var(--color-black-default);
    line-height: var(--line-height-big-1);
}


.check-in-date:focus{
    outline: transparent;
}



.check-out-date{
    width: 232px;
    height: 36px;
    border: var(--border-width-light) var(--border-style-body) var(--color-white-default);
    border-radius: var(--border-radius-small-2);
    background-image: var(--calendar-small), var(--pointer-down);
    background-size: 18px, 16px;
    background-position:bottom 9px  left 10px, right 8px bottom 10px;
    padding-left: 36px;
    background-repeat: no-repeat;
}


.check-out-date::placeholder{
    font-size: var(--font-size-small-1);
    font-weight: var(--font-weight-body);
    color: var(--color-black-default);
    line-height: var(--line-height-big-1);
}


.check-out-date:focus{
    outline: transparent;
}


.input-search-2{
    width: 232px;
    height: 36px;
    border: var(--border-width-light) var(--border-style-body) var(--color-white-default);
    border-radius: var(--border-radius-small-2);
    background-image: var(--small-search);
    background-size: 20px;
    background-position: bottom 8px  left 8px ;
    padding-left: 36px;
    background-repeat: no-repeat;
}


.input-search-2::placeholder{
    font-size: var(--font-size-small-1);
    font-weight: var(--font-weight-body);
    color: var(--color-gray-darken3);
    line-height: var(--line-height-big-1);
}


.input-search-2:focus{
    outline: transparent;
}




.input-calendar{
    box-sizing: border-box;
    width: 204px;
    height: 52px;
    border: var(--border-width-light) var(--border-style-body) var(--color-white-default);
    border-radius: var(--border-radius-small-2);
    background-image: var(--calendar);
    background-size: 20px;
    background-position: bottom 16px left 16px;
    padding-left: 52px;
    background-repeat: no-repeat;
}

.input-calendar::placeholder{
    font-size: var(--font-size-small-1);
    font-weight: var(--font-weght-big-1);
    color: var(--color-primary-darken1);
    line-height: var(--line-height-big-1);
}

.input-calendar:hover{
    border: var(--border-width-light) var(--border-style-body) var(--color-brown-default);
    border-radius: var(--border-radius-small-2);
}

.input-calendar:focus{
    outline: transparent;
}