@import url(config.css);

.review-explanation-container {
  float: left;
  position: relative;
  text-align: left;
}

.review-score-body {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.review-score-subscore {
  margin-right: 20px;
  margin-bottom: 20px;
}

.score-bar {
  width: 200px;
  height: 33px;
}

.score-bar-title {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-size: var(--font-size-small-1);
  line-height: var(--line-height-big-1);
  font-weight: var(--font-weight-body);
}

.s-b-t-danger {
  color: var(--color-red-dark1);
}

.s-b-t-success {
  color: var(--color-success-dark1);
}

.score-bar-score {
  display: flex;
  vertical-align: top;
  width: 30px;
  text-align: right;
  float: right;
  font-size: var(--font-size-small-3);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-big-1);
}

.score-bar-bar {
  display: flex;
  vertical-align: top;
  height: 10px;
  position: relative;
  border-radius: 2px;
  background-color: var(--color-secondary-lighter1);
  width: 82%;
  margin-right: 20%;
  margin-top: 5px;
}

.score-bar-value-25 {
  background-color: var(--color-primary-default);
  width: 25%;
}
.score-bar-value-45 {
  background-color: var(--color-primary-default);
  width: 45%;
}
.score-bar-value-55 {
  background-color: var(--color-primary-default);
  width: 55%;
}
.score-bar-value-60 {
  background-color: var(--color-primary-default);
  width: 60%;
}
.score-bar-value-70 {
  background-color: var(--color-primary-default);
  width: 70%;
}
.score-bar-value-79 {
  background-color: var(--color-primary-default);
  width: 79%;
}
.score-bar-value-84 {
  background-color: var(--color-primary-default);
  width: 84%;
}
.score-bar-value-89 {
  background-color: var(--color-primary-default);
  width: 89%;
}
.score-bar-value-91 {
  background-color: var(--color-primary-default);
  width: 91%;
}
.score-bar-value-92 {
  background-color: var(--color-primary-default);
  width: 92%;
}
.score-bar-value-95 {
  background-color: var(--color-primary-default);
  width: 95%;
}

.score-bar-bar-good {
  display: flex;
  vertical-align: top;
  height: 10px;
  position: relative;
  border-radius: 2px;
  background-color: var(--color-success-light1);
  width: 82%;
  margin-right: 20%;
  margin-top: 5px;
}
.score-bar-bar-bad {
  display: flex;
  vertical-align: top;
  height: 10px;
  position: relative;
  border-radius: 2px;
  background-color: var(--color-red-light1);
  width: 82%;
  margin-right: 20%;
  margin-top: 5px;
}

.score-bar-value-good-95 {
  background-color: var(--color-success-dark1);
  width: 95%;
}
.score-bar-value-bad-23 {
  background-color: var(--color-red-dark1);
  width: 23%;
}
