@import url(config.css);

.h1-tooltip {
    margin: 200px 100px 100px 300px;
    position: relative;
}

.h1-tooltip::before,
.h1-tooltip::after {
    position: absolute;
    content: '';
    
    top: -.25rem;
}

.tooltip {

}

.tooltip-arrow-black {

}

.tooltip-arrow-white {

}

.tooltip-whtie {

}

.tooltip-orange {

}