
@import url('../../booking.com/css/config.css');
.list {
    list-style: none;
}

.country-name 
{
    display: block;
    text-align: center;
    color: blue;
}


.container {
    position: relative;
    width: 207.344px;
    height: 135px;
    cursor: pointer;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-small-1);
}

.image {
    width: 207.344px;
    height: 135px;
}

.desc {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    word-wrap: break-word;
    margin: 0;
    padding: 0 15px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.desc:hover {
    opacity: 1;
}

